body{
    font-family: tahoma;
    font-size: 13px;
    width: 1000px;
    margin: 0px auto;
}
#one{
    
    background: black;
    height:50px ;
}

#khong{
    cursor:not-allowed;
    background-color:orange;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1qjr9F_iqachtgdDgQagG54rPTQ-e25BstA&usqp=CAU");/*màu nền*/
    height: 280px;/*độ cao*/
    width: 1000px;/*dộ rộng*/
    display:flex;
    
}
#khong h1{
    font-size: 80px;
    margin: auto;
    color: rgb(153, 47, 47);
}
/*#two #three{
width: 800px;
background: #ccc;
float: left;
min-height: 400px;
}
#two #four{
    width: 200px;
    background: blue;
    float: left;
    min-height: 400px;
}*/
#six
{
    background: #000;
    width: 1000px;
    text-align: center;/**căn chử ra giữa*/
    height: 60px;
    color: #fff;
   clear :left;
}
section {
    float: left;
    display: flex;
    background: #212d1e;
    margin: 10px;
    padding: 20px;
    border: 1px solid maroon;
    width: 240px;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 4;
    flex-basis: auto;}
.price{
    padding: 5px;
    font-weight:bold;
    border:bottom 5px;
    border-radius: 12px;
    background: #13d1b5;
    margin-top:auto;
    text-align: center;
    color: #fff;
    width:100%;
}
.price:hover{
    cursor:pointer;
    list-style: none;
    background: rgb(113, 32, 32);
}
#menu ul{
    background:#000;
    margin :0px;
    padding :0px;
    position: fixed;
    top: 0;
    right:0;
    left:0;
}
#menu ul li{
    list-style: none;
    float: left;/*nằm bên trái ngang hàng*/
}

#menu ul li a
{
  text-decoration: none;/*liên kết không có gạch chân */
   display: block;
   height:  50px;
   line-height: 50px;
   color:#fff;
   padding :0px 80px 0px 80px;/*khoảng cách giữa các liên kết*/
   border-right: 1px solid,#fff;
}
#menu ul li a.name:hover
{
    cursor:pointer;
    background: blue;
    padding: 0px,20px,0px,20px;
   
}
#khong img{
    background: blanchedalmond;/*màu nền*/
    height: 280px;/*độ cao*/
    width: 1000px;/*dộ rộng*/
}
#two #three ul{
    margin:0px;
    padding: 0px;
    
}
#two #three ul li{
    list-style: none;
    clear: left;
    border-bottom:2px,solid,blue;
   
}
/*#two #three ul img{
  float: left;
  width: 100px;
  margin-bottom:  20px;
  
}*/
/*#two #three ul h2{
  color:blue;
  border-top:2px,solid,blue;
}*/
